.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size:1.5em;
  font-family: "Open Sans", sans-serif;
  box-shadow: 5px 10px 25px 0px rgba(46,61,73,0.25);
  padding: 30px;
  margin: 5% 20%;
}
/*h2 styling*/
h2 {
  color: rgba(2,179,228,1);
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,.15);
  border-radius: 0.35rem;
  padding: 2%;
}
/*ul styling*/
ul {
  list-style: none;
}
li {
  text-align: center;
  margin-left: -40px;
  letter-spacing: .1em;
  padding: 10% 2%;
}
/*Input box styling*/
input {
  padding: 10px;
  margin: 10px;
  font-size: .8em;
  text-align: center;
  border-radius: 0.35rem;
  border: 4px inset rgba(46,61,73,0.35);
}
input:focus {
  outline: none; /*removes blue outline when user is on input box*/
  box-shadow: 0px 28px 6px -20px rgba(0,0,0,.15);
  transition: all 0.18s ease;
}
/*Button styling*/
button {
  padding: 15px;
  margin: 15px;
  border-radius: 50px;
  background-color: rgba(2,179,228,0.75);
  border: 0.12rem solid transparent;
  color: white;
  box-shadow: 8px 10px 15px 0px rgba(46,61,73,0.25);
  border-radius: 0.35rem;
  letter-spacing: 0.15rem;
  font-size: .7em;
  text-align: center;
}
button:hover {
  box-shadow: 2px 3px 15px 0px rgba(46,61,73,0.45);
  transition: all 0.4s ease;
  background-color: rgba(2,179,228,1);
}